asgiref
crispy-bootstrap5
Django
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
environ
Markdown
pillow
pipdeptree
psycopg2
pytz
sqlparse
tzdata
